@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
}

.container {
    text-align: center;
    margin-top: 350px;
    margin-left: 350px;
    margin-right: 350px;
}

.progress-container {
    display: flex;
    justify-content:space-around;
    position: relative;
    margin-bottom: 3px;
    max-width: 100%;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.circle.active{
    border-color: var(--line-border-fill);
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.btn {
    margin: 0 5px;
    background-color: rgba(42, 134, 209, 0.842);
    border-radius: 5px;
    padding: 7px 20px;
    color: #fff;
    cursor: pointer;
}