@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
}

.progress_container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 3px;
    max-width: 100%;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.circle.active{
    border-color: var(--line-border-fill);
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}